.container {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 16px;
  background-color: var(--white);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.14);
  position: sticky;
  top: 0;
  z-index: 5;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.logo__text {
  font: var(--subtitle);
  color: var(--black);
}

.header__button {
  background-color: var(--blue);
  font: var(--text);
  padding: 11px 26px;
  border-radius: 24px;
  color: var(--white);
  border: none;
  cursor: pointer;
}
