.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
  border-radius: 16px;
  padding: 17px 16px;
  border: 1px solid var(--grey);

  &::placeholder {
    font: var(--body);
    color: var(--grey);
    opacity: 50%;
  }
}

.label {
  margin-top: 8px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.label__text {
  font: var(--foootnote);
  color: var(--grey);
  opacity: 50%;
}

.error {
  font: var(--body);
  color: red;
}
